
@{
    ViewData["Title"] = "IpLookUp";
    var ip = ViewData["Ip"];
}

<h1>IpLookUp</h1>

<partial name="IpLookUpPOST" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
