
@{
    ViewData["Title"] = "IpLookUp";
    var ip = ViewData["Ip"];
}

<div>
    <h3 class="tool-h1">Ip Look Up</h3>
</div>

<partial name="IpLookUpPOST" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
