@model Blog.ViewModels.ToolsViewModel
@{
    var ip = ViewData["Ip"];
}
<h4>ToolsViewModel</h4>
<hr />
<div>@ip</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="IpLookUpPOST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Scan Target" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

