
@{
    ViewData["Title"] = "WhatsMyIp";
    var myIp = ViewData["MyIp"];
}

<div>
    <h3 class="tool-h1">Whats My IP</h3>
</div>

<div>
    <p>
        Your IP is: <span class="text-danger">@myIp</span>
    </p>
</div>