@model dynamic
<div>
    <form asp-action="Comment" asp-controller="Home">
        <div class="form-group">
            <label class="control-label">Comment</label>
            <textarea asp-for="Model.Content" rows="4" cols="34"></textarea>
            </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>