@model Blog.ViewModels.ProjectsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
<h1>@Model.Ttitle</h1>
<div>@Model.Technology</div>
<div>@Html.Raw(Model.Description)</div>
<div>@Model.GitHubLink</div>
</div>