@model Blog.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProjectsViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Ttitle" class="control-label"></label>
                <input asp-for="Ttitle" class="form-control" />
                <span asp-validation-for="Ttitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GitHubLink" class="control-label"></label>
                <input asp-for="GitHubLink" class="form-control" />
                <span asp-validation-for="GitHubLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea textarea id="textarea" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Technology" class="control-label"></label>
                <select asp-for="Technology" class="form-control" asp-items="@Html.GetEnumSelectList<TechnologyType>()"></select>
                <span asp-validation-for="Technology" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

