@model Blog.ViewModels.ProjectsViewModel

@{
    ViewData["Title"] = "Projects";
}

@foreach (var project in Model.Projects)
{
    <div>
        <a asp-action="Details" asp-route-id="@project.Id">@project.Ttitle</a>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@project.Id">Edit</a>
    </div>
    <div>
        <form asp-action="Delete" asp-route-id="@project.Id" method="post">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
}